html { font-size: 16px; }
body {
  font-size: 62.5%;
  font-family: Helvetica, Arial, sans-serif;
  background: white;
  color: #333333;
  text-align: center;
}
#wrapper {
  width: 600px;
  margin: 30px auto 30px auto;
  text-align: left;
  background: #efefef;
  border: 5px solid #aaaaaa;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 50px;
}
.clear { clear: both; }
h1 {
  font-size: 3.2em;
  text-shadow: 1px 1px 0 white;
}
h1 span {
  font-size: 0.45em;
  display: block;
  color: #555555;
  margin: 10px 0 40px 0;
  text-align: right;
}
h2 {
  font-size: 1.4em;
  margin-bottom: 12px;
}
ol {
  border-bottom: 1px solid white;
  padding-bottom: 50px;
}
ol li {
  float: left;
  margin-right: 10px;
}
ol li a {
  background: #333333;
  color: white;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  font-size: 1.3em;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  text-shadow: 1px 1px #222222;
}
ol li a:hover { background: #222222; }
ol li span {
  display: block;
  width: 35px;
  height: 14px;
  background: #afafaf;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}
#content {
  border-top: 1px solid #dddddd;
  padding-top: 30px;
  font-size: 1.3em;
}
#content p {
  line-height: 17px;
  margin-bottom: 17px;
}
#content pre {
  font-size: 12px;
  line-height: 20px;
  background: black;
  color: white;
  overflow: auto;
  margin-bottom: 17px;
}
#content pre code {
  display: block;
  padding: 10px;
}
